{% extends 'base/base.html' %}
{% load static %}

{% block page_title %}
Lista de Oficiales
{% endblock page_title %} 

{% block page_content %}

<div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Lista de Oficiales</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nombre</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Numero de Placa</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>   
                  
                {% if officer_list %} 
                {% for officer in officer_list  %}
                <tr>
                <td>
                    <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{officer.officer_name}}</h6>
                    </div>
                    </div>
                </td>
                <td>
                    <p class="text-xs font-weight-bold mb-0">{{officer.officer_number}}</p>
                </td>
                <td class="align-middle">
                    <a  href="{% url 'officers:officer-detail' officer.id %}" class='btn-primary btn btn-sm pull-right' data-toggle="tooltip" data-original-title="Edit user">
                    View
                    </a>
                    <a  href="{% url 'officers:officer-delet' officer.id %}" class='btn-danger btn btn-sm pull-right' data-toggle="tooltip" data-original-title="Edit user">
                        Delet
                    </a>
                </td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
    
{% endblock page_content %}